* {
  box-sizing: border-box;
}

input {
  border: 1px solid gray;
  padding: 10px;
  width: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid gray;
  padding: 10px;
}

th {
  text-align: left;
}

details {
  padding: 10px 0;
}

details:first-child {
  padding-top: 0;
}

details summary {
  cursor: pointer;
}

details table {
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.menu,
.recipe {
  flex: 1;
  padding: 10px;
}

.menu {
  margin-right: 5px;
}
